{
	"extends": [
		"react-app",
		"react-app/jest",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/typescript",
		"plugin:prettier/recommended",
		"prettier"
	],
	"plugins": [
		"simple-import-sort", "sort-destructure-keys"
	],
  "overrides": [
    {
      "files": ["config/**/*.js"],
      "rules": {
        "no-console": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
	"rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": [
			"warn", {
				"additionalHooks": "useUpdateEffect"
			}
		],
		"simple-import-sort/exports": "error",
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					["^\\u0000"], // Side effect imports
					[
						"^react$",
						"^react-dom$",
						"^react",
						"^@?\\w"
					],
					["^src/config", "^src/modules", "^src/locales"],
					["^src/components", "^src/routes"],
					["^src/types"],
					["^test"],
					["^\\./[^.]"], // './*'
					["^\\.\\./"] // '../*'
				]
			}
		],
		"sort-destructure-keys/sort-destructure-keys": ["error", {"caseSensitive": false}]
	}
}
